<mat-spinner *ngIf="isLoading"></mat-spinner>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Question">
          <th mat-header-cell *matHeaderCellDef> Question </th>
          <td mat-cell *matCellDef="let element"> {{element.question}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Option A">
          <th mat-header-cell *matHeaderCellDef> Option A </th>
          <td mat-cell *matCellDef="let element"> {{element.optionId.option[0]}} </td>
        </ng-container>
        <ng-container matColumnDef="Option B">
          <th mat-header-cell *matHeaderCellDef> Option B</th>
          <td mat-cell *matCellDef="let element"> {{element.optionId.option[1]}} </td>
        </ng-container>
        <ng-container matColumnDef="Option C">
          <th mat-header-cell *matHeaderCellDef> Option C</th>
          <td mat-cell *matCellDef="let element"> {{element.optionId.option[2]}} </td>
        </ng-container>
        <ng-container matColumnDef="Option D">
          <th mat-header-cell *matHeaderCellDef> Option D</th>
          <td mat-cell *matCellDef="let element"> {{element.optionId.option[3]}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Answer">
          <th mat-header-cell *matHeaderCellDef> Answer </th>
          <td mat-cell *matCellDef="let element"> {{element.answerId.answer}} </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>




